<a href="https://colab.research.google.com/github/JUMAAMOS/Business-Analytics-Python/blob/main/supermarket_sales.ana.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("Supermarket_sales.csv")

In [3]:
df.head()

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
0,1,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,2,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,3,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,4,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,5,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [4]:
for i in df.index:
  print(df.City[i])

Yangon
Naypyitaw
Yangon
Yangon
Yangon
Naypyitaw
Yangon
Naypyitaw
Yangon
Mandalay
Mandalay
Mandalay
Yangon
Yangon
Yangon
Mandalay
Yangon
Yangon
Yangon
Mandalay
Naypyitaw
Mandalay
Mandalay
Yangon
Yangon
Yangon
Mandalay
Yangon
Mandalay
Yangon
Mandalay
Mandalay
Mandalay
Yangon
Naypyitaw
Naypyitaw
Yangon
Yangon
Naypyitaw
Mandalay
Mandalay
Naypyitaw
Mandalay
Naypyitaw
Naypyitaw
Mandalay
Mandalay
Mandalay
Mandalay
Naypyitaw
Naypyitaw
Yangon
Mandalay
Naypyitaw
Mandalay
Naypyitaw
Yangon
Yangon
Yangon
Naypyitaw
Naypyitaw
Naypyitaw
Mandalay
Yangon
Mandalay
Yangon
Naypyitaw
Mandalay
Yangon
Yangon
Naypyitaw
Naypyitaw
Mandalay
Naypyitaw
Yangon
Naypyitaw
Naypyitaw
Yangon
Naypyitaw
Naypyitaw
Naypyitaw
Mandalay
Naypyitaw
Naypyitaw
Naypyitaw
Naypyitaw
Naypyitaw
Yangon
Yangon
Mandalay
Naypyitaw
Naypyitaw
Yangon
Mandalay
Naypyitaw
Yangon
Mandalay
Naypyitaw
Yangon
Mandalay
Naypyitaw
Naypyitaw
Naypyitaw
Yangon
Mandalay
Yangon
Naypyitaw
Yangon
Naypyitaw
Naypyitaw
Mandalay
Naypyitaw
Mandalay
Yangon
Naypyitaw
Naypyitaw
Mandalay
Mandalay
Yangon
Mandalay
Yangon
Naypyitaw
Mandalay
Naypyitaw
Mandalay
Yangon
Yangon
Naypyitaw
Naypyitaw
Mandalay
Mandalay
Yangon
Mandalay
Mandalay
Naypyitaw
Naypyitaw
Yangon
Yangon
Mandalay
Yangon
Naypyitaw
Naypyitaw
Naypyitaw
Naypyitaw
Yangon
Naypyitaw
Yangon
Naypyitaw
Mandalay
Yangon
Mandalay
Naypyitaw
Yangon
Naypyitaw
Naypyitaw
Yangon
Mandalay
Mandalay
Mandalay
Mandalay
Naypyitaw
Yangon
Yangon
Naypyitaw
Mandalay
Mandalay
Naypyitaw
Yangon
Yangon
Yangon
Yangon
Mandalay
Naypyitaw
Mandalay
Mandalay
Yangon
Yangon
Naypyitaw
Yangon
Naypyitaw
Naypyitaw
Naypyitaw
Yangon
Naypyitaw
Yangon
Mandalay
Mandalay
Mandalay
Yangon
Naypyitaw
Mandalay
Mandalay
Naypyitaw
Mandalay
Yangon
Naypyitaw
Naypyitaw
Yangon
Naypyitaw
Naypyitaw
Naypyitaw
Mandalay
Naypyitaw
Mandalay
Mandalay
Yangon
Naypyitaw
Naypyitaw
Mandalay
Mandalay
Yangon
Naypyitaw
Mandalay
Mandalay
Mandalay
Yangon
Mandalay
Yangon
Mandalay
Mandalay
Mandalay
Mandalay
Naypyitaw
Naypyitaw
Yangon
Naypyitaw
Mandalay
Naypyitaw
Mandalay
Yangon
Mandalay
Mandalay
Mandalay
Mandalay
Yangon
Yangon
Naypyitaw
Naypyitaw
Mandalay
Yangon
Yangon
Yangon
Naypyitaw
Yangon
Mandalay
Yangon
Mandalay
Yangon
Yangon
Mandalay
Mandalay
Naypyitaw
Naypyitaw
Yangon
Yangon
Mandalay
Yangon
Yangon
Yangon
Naypyitaw
Yangon
Naypyitaw
Mandalay
Yangon
Mandalay
Yangon
Naypyitaw
Mandalay
Yangon
Yangon
Mandalay
Naypyitaw
Yangon
Yangon
Mandalay
Mandalay
Naypyitaw
Naypyitaw
Naypyitaw
Yangon
Yangon
Naypyitaw
Yangon
Yangon
Yangon
Mandalay
Naypyitaw
Naypyitaw
Mandalay
Yangon
Mandalay
Naypyitaw
Yangon
Yangon
Mandalay
Naypyitaw
Naypyitaw
Yangon
Yangon
Naypyitaw
Naypyitaw
Mandalay
Naypyitaw
Yangon
Mandalay
Yangon
Yangon
Yangon
Yangon
Yangon
Mandalay
Naypyitaw
Yangon
Yangon
Naypyitaw
Naypyitaw
Naypyitaw
Naypyitaw
Naypyitaw
Naypyitaw
Naypyitaw
Naypyitaw
Yangon
Yangon
Yangon
Mandalay
Yangon
Naypyitaw
Mandalay
Yangon
Mandalay
Yangon
Yangon
Yangon
Naypyitaw
Yangon
Yangon
Mandalay
Naypyitaw
Mandalay
Mandalay
Mandalay
Mandalay
Naypyitaw
Yangon
Yangon
Yangon
Naypyitaw
Yangon
Mandalay
Naypyitaw
Yangon
Mandalay
Mandalay
Naypyitaw
Mandalay
Naypyitaw
Naypyitaw
Mandalay
Mandalay
Yangon
Naypyitaw
Naypyitaw
Yangon
Naypyitaw
Naypyitaw
Naypyitaw
Yangon
Naypyitaw
Yangon
Mandalay
Mandalay
Naypyitaw
Naypyitaw
Yangon
Yangon
Mandalay
Naypyitaw
Naypyitaw
Mandalay
Yangon
Naypyitaw
Mandalay
Naypyitaw
Yangon
Mandalay
Naypyitaw
Yangon
Naypyitaw
Mandalay
Naypyitaw
Mandalay
Yangon
Yangon
Yangon
Yangon
Yangon
Mandalay
Mandalay
Mandalay
Naypyitaw
Naypyitaw
Naypyitaw
Mandalay
Naypyitaw
Yangon
Yangon
Mandalay
Yangon
Naypyitaw
Mandalay
Mandalay
Yangon
Yangon
Yangon
Mandalay
Naypyitaw
Naypyitaw
Mandalay
Yangon
Naypyitaw
Naypyitaw
Naypyitaw
Mandalay
Naypyitaw
Mandalay
Yangon
Mandalay
Mandalay
Yangon
Mandalay
Naypyitaw
Yangon
Mandalay
Mandalay
Naypyitaw
Naypyitaw
Yangon
Naypyitaw
Naypyitaw
Naypyitaw
Mandalay
Yangon
Naypyitaw
Yangon
Mandalay
Naypyitaw
Naypyitaw
Mandalay
Mandalay
Mandalay
Mandalay
Yangon
Yangon
Yangon
Mandalay
Mandalay
Mandalay
Naypyitaw
Naypyitaw
Naypyitaw
Mandalay
Naypyitaw
Naypyitaw
Yangon
Naypyitaw
Naypyitaw
Mandalay
Naypyitaw
Naypyitaw
Naypyitaw
Yangon
Yangon
Mandalay
Yangon
Yangon
Yangon
Naypyitaw
Mandalay
Yangon
Naypyitaw
Naypyitaw
Yangon
Mandalay
Naypyitaw
Mandalay
Mandalay
Yangon
Naypyitaw
Mandalay
Mandalay
Yangon
Mandalay
Naypyitaw
Mandalay
Mandalay
Naypyitaw
Naypyitaw
Mandalay
Yangon
Mandalay
Naypyitaw
Naypyitaw
Mandalay
Mandalay
Yangon
Mandalay
Mandalay
Mandalay
Naypyitaw
Mandalay
Yangon
Yangon
Yangon
Naypyitaw
Naypyitaw
Mandalay
Naypyitaw
Yangon
Naypyitaw
Mandalay
Naypyitaw
Yangon
Naypyitaw
Yangon
Yangon
Mandalay
Mandalay
Mandalay
Yangon
Yangon
Yangon
Mandalay
Naypyitaw
Yangon
Naypyitaw
Mandalay
Yangon
Yangon
Naypyitaw
Yangon
Naypyitaw
Mandalay
Naypyitaw
Mandalay
Mandalay
Yangon
Yangon
Mandalay
Yangon
Mandalay
Mandalay
Mandalay
Naypyitaw
Yangon
Mandalay
Mandalay
Naypyitaw
Yangon
Yangon
Mandalay
Naypyitaw
Mandalay
Yangon
Mandalay
Yangon
Naypyitaw
Yangon
Mandalay
Naypyitaw
Mandalay
Mandalay
Yangon
Mandalay
Yangon
Mandalay
Mandalay
Naypyitaw
Yangon
Mandalay
Naypyitaw
Yangon
Naypyitaw
Mandalay
Mandalay
Yangon
Yangon
Yangon
Naypyitaw
Yangon
Naypyitaw
Naypyitaw
Yangon
Yangon
Mandalay
Mandalay
Yangon
Naypyitaw
Naypyitaw
Yangon
Naypyitaw
Naypyitaw
Naypyitaw
Mandalay
Naypyitaw
Mandalay
Yangon
Naypyitaw
Yangon
Mandalay
Yangon
Naypyitaw
Mandalay
Naypyitaw
Yangon
Yangon
Mandalay
Naypyitaw
Yangon
Naypyitaw
Yangon
Yangon
Mandalay
Mandalay
Mandalay
Mandalay
Yangon
Mandalay
Yangon
Yangon
Yangon
Yangon
Yangon
Mandalay
Mandalay
Mandalay
Yangon
Naypyitaw
Mandalay
Mandalay
Mandalay
Naypyitaw
Mandalay
Naypyitaw
Naypyitaw
Yangon
Naypyitaw
Mandalay
Naypyitaw
Naypyitaw
Mandalay
Mandalay
Yangon
Mandalay
Mandalay
Yangon
Naypyitaw
Yangon
Yangon
Yangon
Mandalay
Naypyitaw
Mandalay
Naypyitaw
Naypyitaw
Yangon
Mandalay
Mandalay
Naypyitaw
Mandalay
Yangon
Mandalay
Mandalay
Naypyitaw
Yangon
Mandalay
Mandalay
Yangon
Naypyitaw
Yangon
Mandalay
Mandalay
Naypyitaw
Yangon
Mandalay
Mandalay
Mandalay
Yangon
Naypyitaw
Yangon
Naypyitaw
Naypyitaw
Yangon
Naypyitaw
Naypyitaw
Yangon
Yangon
Mandalay
Yangon
Naypyitaw
Naypyitaw
Mandalay
Mandalay
Mandalay
Mandalay
Mandalay
Mandalay
Naypyitaw
Naypyitaw
Yangon
Yangon
Naypyitaw
Naypyitaw
Naypyitaw
Naypyitaw
Yangon
Yangon
Yangon
Yangon
Mandalay
Mandalay
Naypyitaw
Mandalay
Naypyitaw
Mandalay
Naypyitaw
Naypyitaw
Mandalay
Naypyitaw
Mandalay
Yangon
Yangon
Yangon
Mandalay
Mandalay
Naypyitaw
Naypyitaw
Naypyitaw
Mandalay
Yangon
Naypyitaw
Naypyitaw
Yangon
Yangon
Naypyitaw
Naypyitaw
Mandalay
Naypyitaw
Mandalay
Naypyitaw
Mandalay
Yangon
Yangon
Mandalay
Naypyitaw
Yangon
Mandalay
Yangon
Yangon
Yangon
Mandalay
Mandalay
Yangon
Yangon
Yangon
Mandalay
Naypyitaw
Mandalay
Mandalay
Yangon
Mandalay
Naypyitaw
Naypyitaw
Naypyitaw
Naypyitaw
Mandalay
Naypyitaw
Mandalay
Naypyitaw
Mandalay
Naypyitaw
Yangon
Yangon
Naypyitaw
Naypyitaw
Yangon
Naypyitaw
Naypyitaw
Naypyitaw
Yangon
Yangon
Naypyitaw
Mandalay
Yangon
Yangon
Mandalay
Naypyitaw
Yangon
Mandalay
Naypyitaw
Mandalay
Naypyitaw
Naypyitaw
Yangon
Mandalay
Yangon
Yangon
Yangon
Mandalay
Naypyitaw
Mandalay
Yangon
Naypyitaw
Yangon
Yangon
Mandalay
Naypyitaw
Yangon
Mandalay
Mandalay
Mandalay
Yangon
Naypyitaw
Yangon
Mandalay
Yangon
Mandalay
Yangon
Naypyitaw
Yangon
Yangon
Mandalay
Mandalay
Yangon
Mandalay
Yangon
Yangon
Mandalay
Naypyitaw
Naypyitaw
Yangon
Mandalay
Yangon
Naypyitaw
Yangon
Yangon
Yangon
Naypyitaw
Naypyitaw
Yangon
Yangon
Yangon
Naypyitaw
Mandalay
Yangon
Mandalay
Mandalay
Yangon
Mandalay
Yangon
Naypyitaw
Yangon
Mandalay
Mandalay
Yangon
Naypyitaw
Mandalay
Naypyitaw
Naypyitaw
Yangon
Yangon
Naypyitaw
Mandalay
Yangon
Yangon
Naypyitaw
Naypyitaw
Mandalay
Yangon
Mandalay
Mandalay
Naypyitaw
Mandalay
Yangon
Yangon
Yangon
Yangon
Yangon
Naypyitaw
Yangon
Naypyitaw
Mandalay
Naypyitaw
Mandalay
Mandalay
Mandalay
Naypyitaw
Naypyitaw
Naypyitaw
Yangon
Naypyitaw
Mandalay
Yangon
Yangon
Naypyitaw
Naypyitaw
Naypyitaw
Mandalay
Yangon
Mandalay
Mandalay
Naypyitaw
Yangon
Yangon
Yangon
Naypyitaw
Naypyitaw
Yangon
Mandalay
Mandalay
Naypyitaw
Mandalay
Naypyitaw
Naypyitaw
Naypyitaw
Mandalay
Mandalay
Yangon
Mandalay
Mandalay
Mandalay
Naypyitaw
Yangon
Naypyitaw
Mandalay
Naypyitaw
Naypyitaw
Yangon
Yangon
Naypyitaw
Yangon
Naypyitaw
Yangon
Yangon
Yangon
Yangon
Naypyitaw
Mandalay
Naypyitaw
Mandalay
Mandalay
Mandalay
Mandalay
Naypyitaw
Mandalay
Yangon
Naypyitaw
Mandalay
Naypyitaw
Yangon
Naypyitaw
Yangon
Yangon
Naypyitaw
Mandalay
Mandalay
Yangon
Yangon
Yangon
Mandalay
Mandalay
Mandalay
Mandalay
Yangon
Naypyitaw
Mandalay
Yangon
Mandalay
Mandalay
Mandalay
Naypyitaw
Yangon
Yangon
Naypyitaw
Naypyitaw
Mandalay
Mandalay
Mandalay
Naypyitaw
Mandalay
Yangon
Mandalay
Yangon
Mandalay
Naypyitaw
Naypyitaw
Mandalay
Yangon
Yangon
Yangon

In [5]:
for i in df.index:
  print(df.Unitprice[i])

74.69
15.28
46.33
58.22
86.31
85.39
68.84
73.56
36.26
54.84
14.48
25.51
46.95
43.19
71.38
93.72
68.93
72.61
54.67
40.3
86.04
87.98
33.2
34.56
88.63
52.59
33.52
87.67
88.36
24.89
94.13
78.07
83.78
96.58
99.42
68.12
62.62
60.88
54.92
30.12
86.72
56.11
69.12
98.7
15.37
93.96
56.69
20.01
18.93
82.63
91.4
44.59
17.87
15.43
16.16
85.98
44.34
89.6
72.35
30.61
24.74
55.73
55.07
15.81
75.74
15.87
33.47
97.61
78.77
18.33
89.48
62.12
48.52
75.91
74.67
41.65
49.04
20.01
78.31
20.38
99.19
96.68
19.25
80.36
48.91
83.06
76.52
49.38
42.47
76.99
47.38
44.86
21.98
64.36
89.75
97.16
87.87
12.45
52.75
82.7
48.71
78.55
23.07
58.26
30.35
88.67
27.38
62.13
33.98
81.97
16.49
98.21
72.84
58.07
80.79
27.02
21.94
51.36
10.96
53.44
99.56
57.12
99.96
63.91
56.47
93.69
32.25
31.73
68.54
90.28
39.62
92.13
34.84
87.45
81.3
90.22
26.31
34.42
51.91
72.5
89.8
90.5
68.6
30.41
77.95
46.26
30.14
66.14
71.86
32.46
91.54
34.56
83.24
16.48
80.97
92.29
72.17
50.28
97.22
93.39
43.18
63.69
45.79
76.4
39.9
42.57
95.58
98.98
51.28
69.52
70.01
80.05
20.85
52.89
19.79
33.84
22.17
22.51
73.88
86.8
64.26
38.47
15.5
34.31
12.34
18.08
94.49
46.47
74.07
69.81
77.04
73.52
87.8
25.55
32.71
74.29
43.7
25.29
41.5
71.39
19.15
57.49
61.41
25.9
17.77
23.03
66.65
28.53
30.37
99.73
26.23
93.26
92.36
46.42
29.61
18.28
24.77
94.64
94.87
57.34
45.35
62.08
11.81
12.54
43.25
87.16
69.37
37.06
90.7
63.42
81.37
10.59
84.09
73.82
51.94
93.14
17.41
44.22
13.22
89.69
24.94
59.77
93.2
62.65
93.87
47.59
81.4
17.94
77.72
73.06
46.55
35.19
14.39
23.75
58.9
32.62
66.35
25.91
32.25
65.94
75.06
16.45
38.3
22.24
54.45
98.4
35.47
74.6
70.74
35.54
67.43
21.12
21.54
12.03
99.71
47.97
21.82
95.42
70.99
44.02
69.96
37.0
15.34
99.83
47.67
66.68
74.86
23.75
48.51
94.88
40.3
27.85
62.48
36.36
18.11
51.92
28.84
78.38
60.01
88.61
99.82
39.01
48.61
51.19
14.96
72.2
40.23
88.79
26.48
81.91
79.93
69.33
14.23
15.55
78.13
99.37
21.08
74.79
29.67
44.07
22.93
39.42
15.26
61.77
21.52
97.74
99.78
94.26
51.13
36.36
22.02
32.9
77.02
23.48
14.7
28.45
76.4
57.95
47.65
42.82
48.09
55.97
76.9
97.03
44.65
77.93
71.95
89.25
26.02
13.5
99.3
51.69
54.73
27.0
30.24
89.14
37.55
95.44
27.5
74.97
80.96
94.47
99.79
73.22
41.24
81.68
51.32
65.94
14.36
21.5
26.26
60.96
70.11
42.08
67.09
96.7
35.38
95.49
96.98
23.65
82.33
26.61
99.69
74.89
40.94
75.82
46.77
32.32
54.07
18.22
80.48
37.95
76.82
52.26
79.74
77.5
54.27
13.59
41.06
19.24
39.43
46.22
13.98
39.75
97.79
67.26
13.79
68.71
56.53
23.82
34.21
21.87
20.97
25.84
50.93
96.11
45.38
81.51
57.22
25.22
38.6
84.05
97.21
25.42
16.28
40.61
53.17
20.87
67.27
90.65
69.08
43.27
23.46
95.54
47.44
99.24
82.93
33.99
17.04
40.86
17.44
88.43
89.21
12.78
19.1
19.15
27.66
45.74
27.07
39.12
74.71
22.01
63.61
25.0
20.77
29.56
77.4
79.39
46.57
35.89
40.52
73.05
73.95
22.62
51.34
54.55
37.15
37.02
21.58
98.84
83.77
40.05
43.13
72.57
64.44
65.18
33.26
84.07
34.37
38.6
65.97
32.8
37.14
60.38
36.98
49.49
41.09
37.15
22.96
77.68
34.7
19.66
25.32
12.12
99.89
75.92
63.22
90.24
98.13
51.52
73.97
31.9
69.4
93.31
88.45
24.18
48.5
84.05
61.29
15.95
90.74
42.91
54.28
99.55
58.39
51.47
54.86
39.39
34.73
71.92
45.71
83.17
37.44
62.87
81.71
91.41
39.21
59.86
54.36
98.09
25.43
86.68
22.95
16.31
28.32
16.67
73.96
97.94
73.05
87.48
30.68
75.88
20.18
18.77
71.2
38.81
29.42
60.95
51.54
66.06
57.27
54.31
58.24
22.21
19.32
37.48
72.04
98.52
41.66
72.42
21.58
89.2
42.42
74.51
99.25
81.21
49.33
65.74
79.86
73.98
82.04
26.67
10.13
72.39
85.91
81.31
60.3
31.77
64.27
69.51
27.22
77.68
92.98
18.08
63.06
51.71
52.34
43.06
59.61
14.62
46.53
24.24
45.58
75.2
96.8
14.82
52.2
46.66
36.85
70.32
83.08
64.99
77.56
54.51
51.89
31.75
53.65
49.79
30.61
57.89
28.96
98.97
93.22
80.93
67.45
38.72
72.6
87.91
98.53
43.46
71.68
91.61
94.59
83.25
91.35
78.88
60.87
82.58
53.3
12.09
64.19
78.31
83.77
99.7
79.91
66.47
28.95
46.2
17.63
52.42
98.79
88.55
55.67
72.52
12.05
19.36
70.21
33.63
15.49
24.74
75.66
55.81
72.78
37.32
60.18
15.69
99.69
88.15
27.93
55.45
42.97
17.14
58.75
87.1
98.8
48.63
57.74
17.97
47.71
40.62
56.04
93.4
73.41
33.64
45.48
83.77
64.08
73.47
58.95
48.5
39.48
34.81
49.32
21.48
23.08
49.1
64.83
63.56
72.88
67.1
70.19
55.04
48.63
73.38
52.6
87.37
27.04
62.19
69.58
97.5
60.41
32.32
19.77
80.47
88.39
71.77
43.0
68.98
15.62
25.7
80.62
75.53
77.63
13.85
98.7
35.68
71.46
11.94
45.38
17.48
25.56
90.63
44.12
36.77
23.34
28.5
55.57
69.74
97.26
52.18
22.32
56.0
19.7
75.88
53.72
81.95
81.2
58.76
91.56
93.96
55.61
84.83
71.63
37.69
31.67
38.42
65.23
10.53
12.29
81.23
22.32
27.28
17.42
73.28
84.87
97.29
35.74
96.52
18.85
55.39
77.2
72.13
63.88
10.69
55.5
95.46
76.06
13.69
95.64
11.43
95.54
85.87
67.99
52.42
65.65
28.86
65.31
93.38
25.25
87.87
21.8
94.76
30.62
44.01
10.16
74.58
71.89
10.99
60.47
58.91
46.41
68.55
97.37
92.6
46.61
27.18
60.87
24.49
92.78
86.69
23.01
30.2
67.39
48.96
75.59
77.47
93.18
50.23
17.75
62.18
10.75
40.26
64.97
95.15
48.62
53.21
45.44
33.88
96.16
47.16
52.89
47.68
10.17
68.71
60.08
22.01
72.11
41.28
64.95
74.22
10.56
62.57
11.85
91.3
40.73
52.38
38.54
44.63
55.87
29.22
51.94
60.3
39.47
14.87
21.32
93.78
73.26
22.38
72.88
99.1
74.1
98.48
53.19
52.79
95.95
36.51
21.12
28.31
57.59
47.63
86.27
12.76
11.28
51.07
79.59
33.81
90.53
62.82
24.31
64.59
24.82
56.5
21.43
89.06
23.29
65.26
52.35
39.75
90.02
12.1
33.21
10.18
31.99
34.42
83.34
45.58
87.9
73.47
12.19
76.92
83.66
57.91
92.49
28.38
50.45
99.16
60.74
47.27
85.6
35.04
44.84
45.97
27.73
11.53
58.32
78.38
84.61
82.88
79.54
49.01
29.15
56.13
93.12
51.34
99.6
35.49
42.85
94.67
68.97
26.26
35.79
16.37
12.73
83.14
35.22
13.78
88.31
39.62
88.25
25.31
99.92
83.35
74.44
64.08
63.15
85.72
78.89
89.48
92.09
57.29
66.52
99.82
45.68
50.79
10.08
93.88
84.25
53.78
35.81
26.43
39.91
21.9
62.85
21.04
65.91
42.57
50.49
46.02
15.8
98.66
91.98
20.89
15.5
96.82
33.33
38.27
33.3
81.01
15.8
34.49
84.63
36.91
87.08
80.08
86.13
49.92
74.66
26.6
25.45
67.77
59.59
58.15
97.48
99.96
96.37
63.71
14.76
62.0
82.34
75.37
56.56
76.6
58.03
17.49
60.95
40.35
97.38
31.84
65.82
88.34

In [6]:
df.Unitprice.max()

99.96

In [7]:
df.Unitprice.count()

1000

In [8]:
df.Unitprice.min()

10.08

In [9]:
df.groupby('Unitprice').count()

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
Unitprice,,,,,,,,,,,,,,,,,
10.08,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
10.13,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
10.16,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
10.17,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
10.18,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99.82,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
99.83,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
99.89,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
99.92,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
99.96,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2

In [10]:
df.groupby('Gender').count()

,No,InvoiceID,Branch,City,Customertype,Productline,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
Gender,,,,,,,,,,,,,,,,,
Female,501,501,501,501,501,501,501,501,501,501,501,501,501,501,501,501,501
Male,499,499,499,499,499,499,499,499,499,499,499,499,499,499,499,499,499

In [11]:
df.groupby('Gender').max()

,No,InvoiceID,Branch,City,Customertype,Productline,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
Gender,,,,,,,,,,,,,,,,,
Female,1000,895-03-6665,C,Yangon,Normal,Sports and travel,99.73,10,49.65,1042.65,3/9/2019,20:59,Ewallet,993.0,4.761905,49.65,10.0
Male,999,898-04-2717,C,Yangon,Normal,Sports and travel,99.96,10,49.49,1039.29,3/9/2019,20:59,Ewallet,989.8,4.761905,49.49,10.0

In [12]:
df.loc[df['Productline']=="Health and beauty"]

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
0,1,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
3,4,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
8,9,665-32-9167,A,Yangon,Member,Female,Health and beauty,36.26,2,3.6260,76.1460,1/10/2019,17:15,Credit card,72.52,4.761905,3.6260,7.2
14,15,829-34-3910,A,Yangon,Normal,Female,Health and beauty,71.38,10,35.6900,749.4900,3/29/2019,19:21,Cash,713.80,4.761905,35.6900,5.7
16,17,656-95-9349,A,Yangon,Member,Female,Health and beauty,68.93,7,24.1255,506.6355,3/11/2019,11:03,Credit card,482.51,4.761905,24.1255,4.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983,984,148-41-7930,C,Naypyitaw,Normal,Male,Health and beauty,99.96,7,34.9860,734.7060,1/23/2019,10:33,Cash,699.72,4.761905,34.9860,6.1
986,987,764-44-8999,B,Mandalay,Normal,Female,Health and beauty,14.76,2,1.4760,30.9960,2/18/2019,14:42,Ewallet,29.52,4.761905,1.4760,4.3
987,988,552-44-5977,B,Mandalay,Member,Male,Health and beauty,62.00,8,24.8000,520.8000,1/3/2019,19:08,Credit card,496.00,4.761905,24.8000,6.2
989,990,430-53-4718,B,Mandalay,Member,Male,Health and beauty,75.37,8,30.1480,633.1080,1/28/2019,15:46,Credit card,602.96,4.761905,30.1480,8.4
995,996,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2

In [13]:
df.loc[df['Gender']=="Female"]

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
0,1,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,2,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
6,7,355-53-5943,A,Yangon,Member,Female,Electronic accessories,68.84,6,20.6520,433.6920,2/25/2019,14:36,Ewallet,413.04,4.761905,20.6520,5.8
7,8,315-22-5665,C,Naypyitaw,Normal,Female,Home and lifestyle,73.56,10,36.7800,772.3800,2/24/2019,11:38,Ewallet,735.60,4.761905,36.7800,8.0
8,9,665-32-9167,A,Yangon,Member,Female,Health and beauty,36.26,2,3.6260,76.1460,1/10/2019,17:15,Credit card,72.52,4.761905,3.6260,7.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,991,886-18-2897,A,Yangon,Normal,Female,Food and beverages,56.56,5,14.1400,296.9400,3/22/2019,19:06,Credit card,282.80,4.761905,14.1400,4.5
991,992,602-16-6955,B,Mandalay,Normal,Female,Sports and travel,76.60,10,38.3000,804.3000,1/24/2019,18:10,Ewallet,766.00,4.761905,38.3000,6.0
994,995,652-49-6720,C,Naypyitaw,Member,Female,Electronic accessories,60.95,1,3.0475,63.9975,2/18/2019,11:40,Ewallet,60.95,4.761905,3.0475,5.9
996,997,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
999,1000,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [14]:
df.loc[df['Productline']=="Food and beverages"]

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
9,10,692-92-5582,B,Mandalay,Member,Female,Food and beverages,54.84,3,8.2260,172.7460,2/20/2019,13:27,Credit card,164.52,4.761905,8.2260,5.9
13,14,252-56-2699,A,Yangon,Normal,Male,Food and beverages,43.19,10,21.5950,453.4950,2/7/2019,16:48,Ewallet,431.90,4.761905,21.5950,8.2
18,19,329-62-1586,A,Yangon,Normal,Male,Food and beverages,54.67,3,8.2005,172.2105,1/21/2019,18:00,Credit card,164.01,4.761905,8.2005,8.6
28,29,145-94-9061,B,Mandalay,Normal,Female,Food and beverages,88.36,5,22.0900,463.8900,1/25/2019,19:48,Cash,441.80,4.761905,22.0900,9.6
34,35,183-56-6882,C,Naypyitaw,Member,Female,Food and beverages,99.42,4,19.8840,417.5640,2/6/2019,10:42,Ewallet,397.68,4.761905,19.8840,7.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
977,978,518-71-6847,B,Mandalay,Member,Male,Food and beverages,26.60,6,7.9800,167.5800,2/26/2019,15:10,Ewallet,159.60,4.761905,7.9800,4.9
979,980,151-33-7434,B,Mandalay,Normal,Female,Food and beverages,67.77,1,3.3885,71.1585,2/4/2019,20:43,Credit card,67.77,4.761905,3.3885,6.5
980,981,728-47-9078,C,Naypyitaw,Member,Male,Food and beverages,59.59,4,11.9180,250.2780,1/19/2019,12:46,Cash,238.36,4.761905,11.9180,9.8
990,991,886-18-2897,A,Yangon,Normal,Female,Food and beverages,56.56,5,14.1400,296.9400,3/22/2019,19:06,Credit card,282.80,4.761905,14.1400,4.5
997,998,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7

In [15]:
df['Total'].loc[df['City']=="Yangon"]

0      548.9715
2      340.5255
3      489.0480
4      634.3785
6      433.6920
         ...
990    296.9400
992    121.8630
997     33.4320
998     69.1110
999    649.2990
Name: Total, Length: 340, dtype: float64

In [16]:
df['Total'].loc[df['City']=="Yangon"].max()

1039.29

In [17]:
df['gross_iincome'].loc[df['Productline']=="Home and lifestyle"]

2      16.2155
7      36.7800
19      4.0300
22      3.3200
25     21.0360
        ...
967    12.1515
971    12.9185
973    12.0120
996    48.6900
998     3.2910
Name: gross_iincome, Length: 160, dtype: float64

In [18]:
df['gross_iincome'].loc[df['Productline']=="Home and lifestyle"].mean()

16.03033125

In [19]:
x=df['gross_iincome'].loc[df['Productline']=="Home and lifestyle"]

In [20]:
print(x)

2      16.2155
7      36.7800
19      4.0300
22      3.3200
25     21.0360
        ...
967    12.1515
971    12.9185
973    12.0120
996    48.6900
998     3.2910
Name: gross_iincome, Length: 160, dtype: float64

In [21]:
df.loc[(df['Productline'] == "Health and beauty") & (df['Gender'] == "Male") ]

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
3,4,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
21,22,371-85-5789,B,Mandalay,Normal,Male,Health and beauty,87.98,3,13.1970,277.1370,3/5/2019,10:40,Ewallet,263.94,4.761905,13.1970,5.1
29,30,848-62-7243,A,Yangon,Normal,Male,Health and beauty,24.89,9,11.2005,235.2105,3/15/2019,15:36,Cash,224.01,4.761905,11.2005,7.4
33,34,595-11-5460,A,Yangon,Normal,Male,Health and beauty,96.58,2,9.6580,202.8180,3/15/2019,10:12,Credit card,193.16,4.761905,9.6580,5.1
44,45,617-15-4209,C,Naypyitaw,Member,Male,Health and beauty,15.37,2,1.5370,32.2770,3/16/2019,19:47,Cash,30.74,4.761905,1.5370,7.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
981,982,809-46-1866,A,Yangon,Normal,Male,Health and beauty,58.15,4,11.6300,244.2300,1/23/2019,17:44,Cash,232.60,4.761905,11.6300,8.4
983,984,148-41-7930,C,Naypyitaw,Normal,Male,Health and beauty,99.96,7,34.9860,734.7060,1/23/2019,10:33,Cash,699.72,4.761905,34.9860,6.1
987,988,552-44-5977,B,Mandalay,Member,Male,Health and beauty,62.00,8,24.8000,520.8000,1/3/2019,19:08,Credit card,496.00,4.761905,24.8000,6.2
989,990,430-53-4718,B,Mandalay,Member,Male,Health and beauty,75.37,8,30.1480,633.1080,1/28/2019,15:46,Credit card,602.96,4.761905,30.1480,8.4
995,996,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2

In [22]:

x=df.loc[(df['Productline'] == "Health and beauty") & (df['Gender'] == "Male") ]

In [23]:
x.head()

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
3,4,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
21,22,371-85-5789,B,Mandalay,Normal,Male,Health and beauty,87.98,3,13.1970,277.1370,3/5/2019,10:40,Ewallet,263.94,4.761905,13.1970,5.1
29,30,848-62-7243,A,Yangon,Normal,Male,Health and beauty,24.89,9,11.2005,235.2105,3/15/2019,15:36,Cash,224.01,4.761905,11.2005,7.4
33,34,595-11-5460,A,Yangon,Normal,Male,Health and beauty,96.58,2,9.6580,202.8180,3/15/2019,10:12,Credit card,193.16,4.761905,9.6580,5.1
44,45,617-15-4209,C,Naypyitaw,Member,Male,Health and beauty,15.37,2,1.5370,32.2770,3/16/2019,19:47,Cash,30.74,4.761905,1.5370,7.2

In [24]:
x["Gender"].count()

88

In [25]:
df.loc[(df['Productline'] == "Health and beauty") & (df['Gender']== "Female") ]

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
0,1,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
8,9,665-32-9167,A,Yangon,Member,Female,Health and beauty,36.26,2,3.6260,76.1460,1/10/2019,17:15,Credit card,72.52,4.761905,3.6260,7.2
14,15,829-34-3910,A,Yangon,Normal,Female,Health and beauty,71.38,10,35.6900,749.4900,3/29/2019,19:21,Cash,713.80,4.761905,35.6900,5.7
16,17,656-95-9349,A,Yangon,Member,Female,Health and beauty,68.93,7,24.1255,506.6355,3/11/2019,11:03,Credit card,482.51,4.761905,24.1255,4.6
38,39,333-73-7901,C,Naypyitaw,Normal,Female,Health and beauty,54.92,8,21.9680,461.3280,3/23/2019,13:24,Ewallet,439.36,4.761905,21.9680,7.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
927,928,397-25-8725,A,Yangon,Member,Female,Health and beauty,39.62,9,17.8290,374.4090,1/13/2019,17:54,Credit card,356.58,4.761905,17.8290,6.8
936,937,433-08-7822,C,Naypyitaw,Normal,Female,Health and beauty,78.89,7,27.6115,579.8415,1/5/2019,19:48,Ewallet,552.23,4.761905,27.6115,7.5
938,939,131-70-8179,A,Yangon,Member,Female,Health and beauty,92.09,3,13.8135,290.0835,2/17/2019,16:27,Cash,276.27,4.761905,13.8135,4.2
968,969,605-03-2706,A,Yangon,Normal,Female,Health and beauty,15.80,3,2.3700,49.7700,3/25/2019,18:02,Cash,47.40,4.761905,2.3700,9.5
986,987,764-44-8999,B,Mandalay,Normal,Female,Health and beauty,14.76,2,1.4760,30.9960,2/18/2019,14:42,Ewallet,29.52,4.761905,1.4760,4.3

In [26]:
df.loc[(df['Productline'] == "Health and beauty") & (df['Gender'] == "Male") ].count()

No                         88
InvoiceID                  88
Branch                     88
City                       88
Customertype               88
Gender                     88
Productline                88
Unitprice                  88
Quantity                   88
Tax                        88
Total                      88
Date                       88
Time                       88
Payment                    88
cogs                       88
gross_margin_percentage    88
gross_iincome              88
Rating                     88
dtype: int64

In [27]:
df.loc[(df['Productline'] == "Fashion accessories") & (df['Gender'] == "Female") | (df['Productline'] == "Sports and travel") ].count()

No                         262
InvoiceID                  262
Branch                     262
City                       262
Customertype               262
Gender                     262
Productline                262
Unitprice                  262
Quantity                   262
Tax                        262
Total                      262
Date                       262
Time                       262
Payment                    262
cogs                       262
gross_margin_percentage    262
gross_iincome              262
Rating                     262
dtype: int64